* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

.about-header {
  color: black;
  padding: 10px 0;
  text-align: center;
  background-color: #ffffff;
  margin: 0 30%;
}

.about-description {
  color: black;
  padding: 10px 0;
  text-align: center;
  font-size: large;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 25%;;
}

.about {
  background: url('../public/assets/soccer-home.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 64px);
  width: 100%;
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Lexend', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  color: white;
  background-color: #2980b9;
}

.sidebar {
  height: 100vh;
  width: 150px;
  position: fixed;
  right: 0;
  background-color: #333;
  padding-top: 20px;
}

.sidebar a {
  padding: 15px 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.parks {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  width: 25%;
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  background-color: white;
  margin: 0px;
}

.profile-username {
  order: 1;
  font-weight: bold;
}

.profile-page-pic {
  order: 2;
  height: auto;
  width: auto;
  border-radius: 50%;
}

.profile-page-description {
  order: 3;
}

.search {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background: #f6f6f6;
  transition: background 0.25s;
}

.search:focus-within {
  background: #f1f1f1;
}

.search-input {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
}